In [1]:
# PANDAS -> Stands for Python Data Analysis used for data manipulation and Analysis
import pandas as pd
import numpy as np

# Create a Pandas Series from a Python list [10, 20, 30, 40].
data = [10, 20, 30, 40]
print("The Pandas Series for a list :",pd.Series(data))

The Pandas Series for a list : 0    10
1    20
2    30
3    40
dtype: int64

In [ ]:
# Create a DataFrame with columns: Name, Age, Salary along with its info, column datatypes and shape.
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],'Age': [24, 27, 22, 32],'Salary': [50000, 60000, 55000, 70000]}
df = pd.DataFrame(data)
print("\nThe DataFrame is :\n",df)
print("The DataFrame Info is :\n",df.info()) # d.dtypes is used to get the datatypes of each column
print("The DataFrame Shape is :\n",df.shape)
print("The only selected column (Salary) is :\n",df['Salary']) # df.Name can also be used to get a single column and to use the multiple columns df[['column1','column2']] can be used
#  Select rows where Age > 25 and Salary > 50000.
filtered_df = df[(df['Age'] > 25) & (df['Salary'] > 50000)] # this is called boolean indexing used to filter the data on the Pandas DataFrame
print("\nThe filtered DataFrame is :\n",filtered_df)

The DataFrame is :
       Name  Age  Salary
0    Alice   24   50000
1      Bob   27   60000
2  Charlie   22   55000
3    David   32   70000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   Salary  4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 228.0+ bytes
The DataFrame Info is :
 None
The DataFrame Shape is :
 (4, 3)
The only selected column (Salary) is :
 0    50000
1    60000
2    55000
3    70000
Name: Salary, dtype: int64

The filtered DataFrame is :
     Name  Age  Salary
1    Bob   27   60000
3  David   32   70000

The row at index 2 using iloc is :
 Name      Charlie
Age            22
Salary      55000
Name: 2, dtype: object

The row with index label 2 using loc is :
 Name      Charlie
Age            22
Salary      55000
Name: 2, dtype: object

In [6]:
# Create a DataFrame using a NumPy array of random numbers.
array = np.random.randint(1,100,size=(4, 3))  # 4 rows and 3 columns
df_random = pd.DataFrame(array, columns=['A', 'B', 'C'])
print("\nThe DataFrame with random numbers is :\n",df_random)

The DataFrame with random numbers is :
     A   B   C
0  83  65  91
1  45  72  81
2  54  67  48
3   9  33  28

In [11]:
# Select the first 3 rows of a DataFrame.
data = {'Fruit': ['Apple', 'Banana', 'Cherry', 'Date', 'Elderberry'],'Quantity': [10, 20, 15, 5, 8],'Price': [120, 22, 20, 30, 15]}
df = pd.DataFrame(data)
print("\nThe first 3 rows of the DataFrame is :\n",df.head(3)) # df.tail(3) is used to get the last 3 rows

The first 3 rows of the DataFrame is :
     Fruit  Quantity  Price
0   Apple        10    120
1  Banana        20     22
2  Cherry        15     20

In [19]:
# Retrieve specific rows by index using iloc and loc.
df = pd.DataFrame({'A': [10, 20, 30, 40],'B': [50, 60, 70, 80],'C': [90, 100, 110, 120]})
print("\nThe row at index 2 using iloc is :\n",df.iloc[2]) # iloc is used to get the rows by index position
print("\nThe row with index label 2 using loc is :\n",df.loc[2]) # loc is used to get the rows by index label

The row at index 2 using iloc is :
 A     30
B     70
C    110
Name: 2, dtype: int64

The row with index label 2 using loc is :
 A     30
B     70
C    110
Name: 2, dtype: int64

In [ ]:
# Change the index to “Name” in the give dataFrame of the DataType
df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie', 'David'],'Age': [24, 27, 22, 32],'Salary': [50000, 60000, 55000, 70000]})
df.set_index('Name', inplace=True) # inplace=True is used to modify the original DataFrame if the value is False then it returns a new DataFrame with index changed
print("\nThe DataFrame with Name as index is :\n",df)

The DataFrame with Name as index is :
       Name  Age  Salary
0    Alice   24   50000
1      Bob   27   60000
2  Charlie   22   55000
3    David   32   70000